.wrapper {
    border: 3px solid #7fcce3;
    padding: 10px;
    border-radius: 10px;
    width: 25%;
    margin: 40px;
}

.display {
    border: 3px solid #7fcce3;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    font-size: 40px;
}
.error {
    color: red;
}

.buttonBlock {
    border: 3px solid #7fcce3;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
}