.button {
    background-color: #7fcce3;
    color: #2a2c36;
    border: none;
    border-radius: 5px;
    padding: 5px;

    width: 60px;
    font-weight: 900;
}
.disable {
    background-color: grey;
}